fastapi
langchain
langchain-chroma
langchain-community
langchain-openai
langgraph
langsmith
pydantic-settings
python-dotenv
pypdf
python-multipart
rank-bm25
requests
sentence-transformers
streamlit
uvicorn

